// Button Styles

.btn {
  padding: 1em 4em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  &.primary {
    background: #fbc531;
    color: $black;
    &:hover {
      -webkit-transition: 1s;
      transition: 1s;
      background: darken(#fbc531, 10%);
    }
    &:active {
      transform: scale(.95);
    }
  }
}