.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48.9%;
          flex: 0 0 48.9%;
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

@media(max-width: 1000px) {
  .col-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .col-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .col-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

// Prevents nested containers from extra padding
[class*="col-"] {
  .container {
      padding-left: 0;
      padding-right: 0;
  }
}